# Byte-compiled / cache
__pycache__/
*.py[cod]
*.pyo

# Environment
.env
.venv/
venv/
env/
*.egg-info/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Logs
*.log

# Python notebooks
.ipynb_checkpoints/

# Pytest
.cache/